:root {
  /* color */
  --cl-primnary: #19d6ba;
  --cl-secondary: #0b2832;
  --cl-base-white: #f6fbfe;
  --cl-accent-1: #5b5f62;
  --cl-accent-2: #d6b393;
  --cl-accent-3: #17333d;
  /* base text color */
  /* not available */
  /* ------------------------------------------ */

  /* typography */
  --font-heading: "Oswald", sans-serif;
  --font-content: "Roboto", sans-serif;

  /* deco */
  /* page banner background  */
  --pg-contact-hd-deco: url("../images/deco_header_contact-page.jpg");
  --pg-about-hd-deco: url("../images/deco_header_about-page.png");
  --pg-projecs-hd-deco: url("../images/deco_header_projects-page.png");
}

body {
  font-family: var(--font-content);
  color: var(--cl-base-white);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.txt-heading,
.navbar-brand .brand-txt {
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--cl-base-white);
}
h1 {
  font-weight: 700;
}

h2 {
  margin-bottom: clamp(1rem, 2vw, 1.5rem);
  width: 20ch;
}

/* ------------- custom properties ------------ */

/* overriding bootstrap */
/* navbar */
.bg-dark {
  background-color: var(--cl-secondary) !important;
}
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: var(--cl-base-white);
  --bs-navbar-hover-color: var(--cl-primnary);
  --bs-navbar-active-color: var(--cl-accent-2);
  --bs-navbar-brand-color: var(--cl-primnary);
  --bs-navbar-brand-hover-color: var(--cl-accent-2);
  --bs-navbar-toggler-border-color: var(--cl-primnary);
}
.nav-item,
.nav-item:has(.active) {
  position: relative;
}
/* button[aria-expanded="false"]  */
@media screen and (min-width: 578px) {
  .nav-item::after,
  .nav-item:has(.active)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: clamp(-32%, 2vw, -30%);
    height: 0.3em;
    width: 100%;
    transform: translateX(-50%) translateY(-5%);
  }
  .nav-item:has(.active)::after {
    background-color: var(--cl-accent-2);
  }
  .nav-item::after {
    background-color: var(--cl-primnary);
    width: 0;
    transition: width 0.1s ease-in;
    transform-origin: center;
  }

  .nav-item:hover::after,
  .nav-item:focus-within::after {
    width: 100%;
  }
}

/* primary button */
.btn-primary {
  --bs-btn-color: var(--cl-secondary);
  --bs-btn-bg: var(--cl-primnary);
  --bs-btn-border-color: var(--cl-primnary);
  --bs-btn-hover-color: var(--cl-secondary);
  --bs-btn-hover-bg: var(--cl-accent-2);
  --bs-btn-hover-border-color: var(--cl-primnary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--cl-accent-3);
  --bs-btn-active-bg: var(--cl-primnary);
  --bs-btn-active-border-color: var(--cl-accent-2);
  --bs-btn-disabled-color: var(--cl-accent-1);
  --bs-btn-disabled-bg: var(--cl-base-white);
  --bs-btn-disabled-border-color: var(--cl-base-white);
  border-radius: 0;
  border: 0.15rem solid var(--bs-btn-border-color);
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* form control */
.form-control {
  --bs-body-bg: var(--cl-secondary);
  --bs-border-color: var(--cl-primnary);
  --bs-border-width: 0.15em;
  --bs-body-color: var(--cl-base-white);
  border-radius: 0;
}

.btn:focusf {
  box-shadow: 0 0 0 0.25rem rgba(214, 179, 147, 0.75) !important;
}

.form-control:focus {
  border-color: var(--cl-accent-2);
}

/* arrow link */
.navbar-brand .brand-txt {
  display: none;
  color: var(--cl-primnary);
  font-size: clamp(0.8rem, 10vw, 1.2rem);
  @media screen and (min-width: 768px) {
    display: inline;
    padding-left: 0.5em;
  }
}
.arrow-link,
.custom-link {
  color: var(--cl-primnary);
}

/* custom nav list container */
.nav-list-container-custom {
  gap: 0 clamp(1em, 8vw, 5.6em);
}

/* custom container */
.container-custom {
  @media screen and (min-width: 1000px) {
    max-width: 960px;
  }
}

/* custom section background */
.bg-section-primary {
  background-color: var(--cl-secondary);
}
.bg-section-accent {
  background-color: var(--cl-accent-3);
}
.bg-footer {
  background-color: var(--cl-accent-1);
}

/* custom page header deco */
.page-header {
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--cl-accent-3);
  filter: sepia(20%);
}
.header-container-bg {
  background-color: rgba(23, 51, 61, 0.75);
  width: 100%;
  min-height: 15vh;
  margin-top: 8em;
  backdrop-filter: blur(0.5rem);
}

/* image deco */

.img-deco {
  position: relative;
  z-index: 0;
  /* display: block; */
}

.img-deco::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.15rem solid var(--cl-accent-2);
  top: 0.55rem;
  left: 0.55rem;
  z-index: -1;
  /* transform: translate(50%, -50%); */
}

/* ------------- pages & sections ------------- */
/* page header: projects */
.page-header.projects-page {
  background-image: var(--pg-projecs-hd-deco);
}

/* page header: about */
.page-header.about-page {
  background-image: var(--pg-about-hd-deco);
}

/* page header: contact */
.page-header.contact-page {
  background-image: var(--pg-contact-hd-deco);
}
/* home: hero section */

.img-hero {
  width: 100%;
  aspect-ratio: 1/0.7;
  object-fit: cover;
  object-position: center clamp(60%, 2vw, 40%);
}

/* home: CAROUSEL */
.carousel-item {
  min-height: 200px;

  .item-wrapper {
    display: flex;
    flex-direction: column;
    border: 0.15rem solid var(--cl-accent-2);

    img {
      width: 100%;
      max-height: 30rem;
      aspect-ratio: 16/10;
      object-fit: cover;
      z-index: 0;
      position: relative;
      filter: none;
    }

    .carousel-caption {
      align-self: center;
      background-color: rgba(214, 179, 147, 0.75);
      backdrop-filter: blur(0.4rem);
      color: var(--cl-secondary);
      transform: translateY(100%);
      transition: all 0.2s ease-in;
      width: 100%;
      left: 0;
      bottom: 0;
      h3 {
        color: var(--cl-secondary);
      }
    }
  }
  :hover {
    .carousel-caption {
      transform: translateY(0);
    }
    img {
      filter: sepia(10%) blur(0.4em) brightness(0.5);
    }
  }

  @media screen and (max-width: 400px) {
    img {
      filter: none;
    }
  }
}

.carousel-indicators [data-bs-target] {
  width: clamp(0.3rem, 2vw, 0.8rem);
  height: clamp(0.3rem, 2vw, 0.8rem);
  border-radius: 50%;
}

/* about: bio section */
.bio-year {
  font-weight: bold;
  color: var(--cl-accent-2);
}

/* projects: cards section */
.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: max-content;
  gap: 2em;
  justify-items: center;
}

.container-cards {
  .card {
    max-width: 18rem;
    background-color: var(--cl-accent-1);
    border: 0.2rem solid var(--cl-accent-1);
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden !important;
    background-color: var(--cl-accent-1);
    border-radius: 0;
  }
  .card-img-wrapper {
    overflow: hidden;
  }

  .card-img-top {
    border-radius: 0;
    transform: scale(1);
    height: 10rem;
    transition: transform 0.3s 0.1s ease-out;
    aspect-ratio: 16/9;
    object-fit: cover;
    align-self: center;
  }

  .text-truncate {
    white-space: inherit;
    text-overflow: none;
    overflow: auto;
  }
  .card-body {
    display: flex;
    min-height: 16rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  @media screen and (min-width: 400px) and (max-width: 768px) {
    .card {
      flex-direction: row;
      min-width: 100%;
      justify-content: space-evenly;
    }
    .card-body {
      max-height: 120px;
      min-height: 5rem;
      
    }
    .card-img-wrapper {
      align-self: center;
    }
    .card-img-top {
      min-width: 90px;
      max-height: 8rem;
      aspect-ratio: 1/1;
    }

    .text-truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: clamp(100px, 60vw, 300px);
    }

    .card .btn {
      text-align: left;
      padding: 0;
    }
    .card .btn-primary {
      background: none;
      color: var(--cl-primnary);
      border: none;
    }
    .card .btn-primary:hover {
      text-decoration: underline;
    }
    .btn.btn-primary {
      align-self: flex-start;
    }
  }

  .card:hover {
    box-shadow: 0 0 0.5rem 0.5rem var(--cl-accent-2);
    .card-img-top {
      transform: scale(1.2);
    }
  }
}

footer {
  a {
    color: var(--cl-base-white);
    text-decoration: none;
    font-size: 0.9rem;
  }
  a:hover {
    color: var(--cl-accent-2);
    text-decoration: underline;
  }
  .brand-footer {
    p {
      font-size: 0.8rem;
    }
    img {
      width: 105px;
    }
  }
}
/* animations */
/* projects page: project cards */
.project-item-2.animate__delay {
  animation-delay: 0.25s;
}

.project-item-3.animate__delay {
  animation-delay: 0.5s;
}
